@charset 'UTF-8';

/*-- [ 共通 ] ----------------------------------------------------------------*/
*{
	padding:0;
	margin:0;
}

/*-- [ 文字 ] ----------------------------------------------------------------*/
html {font-size: 62.5%;} /* rem単位ベース10px指定 */

h1,h2,h3,h4,h5,h6 {font-size: 100%;} /* リセット */

/* 文字サイズを固定にする。 */
body {
	-webkit-text-size-adjust:100%;/* 文字の大きさを固定する指定 */
	font-size: 16px; font-size: 1.6rem;
	color:#444444;
}

html, body, table {
	font-family: Verdana, "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}

h1, h2, h3 {line-height: 125%;}
/*
h1, h2, main>article>p {
	font-family: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
*/
h1 {font-size: 32px; font-size: 3.2rem;}
h2 {font-size: 24px; font-size: 2.4rem;}
h3 {font-size: 22px; font-size: 2.2rem;}


hr {
	margin: 15px 0;
	border:none;
	border-top:dotted 1px #B5BAAC;
	height:1px;
	color:#FFFFFF;
	width:100%;
}


/*-- [ ヘッダー ] ------------------------------------------------------------*/

header {
	width: 100%;
	min-width: 1050px;
	height: 30px;
	background-color:#f8f8f8;
	padding:10px 0;
	overflow: hidden;

}

header>ul {
	min-width:880px;
}
.ios {coursor:pointer;}
a{text-decoration: none;}


.modal_content>ul {
	margin : 10px auto; 
}
header>ul>li, 
.modal_content>ul>li {
	float : left; 
	list-style-type: none;
}
.modal_content>ul>li {
	margin : 5px 0; 
}

header>p {
	float : right; 
	width: 10em;
	height:30px;
	line-height:30px;
	overflow: hidden;
	z-index: 1;
	text-align: right;
}

header>ul>li>a, 
.modal_content>ul>li>a, 
.modal_content>a {
	display:block;
	margin: 0 10px;
	font-size: 12px; font-size: 1.2rem;

	background-color:#a1a1a1;
	overflow: hidden;
	        border-radius: 15px;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	width:120px;
	height:30px;
	text-align: center;
	line-height:30px;
	margin:0 3px;
	padding:0 10px;
	font-weight: bold;
	color:#fff;
}

header>ul>li>a:hover, 
.modal_content>ul>li>a:hover, 
.modal_content>a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: 0.7;
	  -moz-opacity: 0.7;
	cursor: pointer;/* Safariバグ対策 */
}


.modal_content>ul:after { /* 回解除 */
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;/* 見えない存在 */
}


/*-- [ モーダルウィンドウ ] --------------------------------------------------*/
#morph, #pose {
	display: none;
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100%;
}

.modal_bg{
	background: rgba(0, 0, 0, 0.8);
	height: 100vh;
	position: absolute;
	width: 100%;
}

.modal_content{
	background: #fff;
	left: 50%;
	padding: 20px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	overflow: hidden;
	        border-radius: 10px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	text-align: center;
}

.modal_content>a {margin: 0 auto;}
